.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 245, 245, 0.7);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(98, 94, 94, 0.5);
  z-index: -1;
}

.container {
  width: 500px;
  border: 1px solid #9a8f8f;
  border-radius: 10px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.login-label {
  text-align: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.email-label,
.password-label {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.email,
.password {
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
}

.password-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.message {
  color: var(--text-error);
  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
  font-weight: 100;
}

.faEye-icon,
.faEyeSlash-icon {
  position: absolute;
  top: 80%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}

.submit {
  margin: auto;
}

.isMember {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  .label {
    font-style: italic;
  }

  .registerBtn {
    margin-left: 5px;
    color: blue;
  }
}
