.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container {
  width: 500px;
  border: 1px solid #9a8f8f;
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
}

.register-label {
  text-align: center;
}

.form-register {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  position: relative;
}

.name-label,
.email-label,
.password-label,
.password-confirm-label {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 3px;
}

.name,
.email,
.password,
.password-confirm {
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
}

.password-group,
.password-confirm-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.faEye-icon,
.faEyeSlash-icon {
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}

.faEye-icon-confirm,
.faEyeSlash-icon-confirm {
  position: absolute;
  top: 60%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 12px;
}

.error-message {
  color: var(--text-error);
  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
  font-weight: 100;
}

.success-mesage {
  color: var(--text-success);
  font-size: 1.3rem;
  margin-left: 8px;
  font-style: italic;
  font-weight: 100;
}

.submit {
  margin: auto;
}

.success-btn {
  margin: auto;
}

.sigin-btn {
  text-align: center;
  margin-left: 10px;
  color: blue;
}

.isMember {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  .label {
    font-style: italic;
  }

  .loginBtn {
    margin-left: 5px;
    color: blue;
  }
}
