@import 'normalize.css'; //thư viện reset css

//đặt biến
:root {
  --primary: #8fadae;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --text-error: #e84242;
  --text-success: rgb(105, 141, 231);

  // default layout
  --default-layout-header-height: 60px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed; //tối ưu tốc độ tải fonts
  overflow-y: overlay;
  color: var(--text-color);
  background-color: #b3c4c4;
}

//Scrollbar CSS
html ::-webkit-scrollbar {
  border-radius: 0px;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

#tippy-1 {
  width: 80%;
  z-index: 999;
  background-color: white;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-icon {
  animation: spinner 0.8s linear infinite;
  font-size: 3rem;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
