.wrapper {
  --search-border-radius: 92px;
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  align-items: center;
  padding: 0 24px 0 16px;
  position: fixed;
  top: 0px;
  left: 0;
  align-items: center;
  background: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  z-index: 1000;
}

.inner {
  width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 100%;
  max-height: 60px;
  margin-top: 4px;
}

.search {
  width: 60%;
  position: relative;
}

.actions {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}

.menu-icon {
  font-size: 2rem;
  padding: 4px 0 4px 24px;
  background-color: transparent;
  cursor: pointer;
}

.actions-login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.actions-cart-icon,
.actions-avatar {
  margin-left: 20px;
  cursor: pointer;
}

.actions-cart-icon {
  font-size: 3rem;
  background-color: transparent;
  margin-left: 20px;
  color: #7be3e3;
}

.info-login {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.actions-avatar-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.name-login {
  color: var(--primary);
  font-size: 20px;
}
